@import url("https://fonts.googleapis.com/css?family=Fira+Sans");


// ?? Color Variables
$main-clr: #1a91c9;
$main-dark: #05567c;
$error-color: #0c0e10;
$accent-color: #446182;
$dark-text-color: #f5f6fa;
$light-text-color: #fefefe;

@media (max-width: 844px) {
  .footerPageContainer {
    margin-bottom: 89vh;
  }
}

.footerPageContainer {
  margin-bottom: 90vh;

  .error-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0c0e10, #446182);
    color: #fff;

    .error-ground {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 25vh;
      background: #0c0e10;

      @media (max-width: 770px) {
        height: 0vh;
      }
    }

    .links {
      display: flex;
      justify-content: center;
      margin-top: 2rem;

      a {
        text-decoration: none;
        color: #fff;
        background-color: $main-clr;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        margin: 0 1rem;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $main-dark;
        }
      }
    }

    .error-heading {
      text-align: center;
      font-size: 9em;
      line-height: 1.3em;
      margin-top: 35%;
      padding: 0;
      text-shadow: 0 0 1rem #fefefe;

      @media (max-width: 770px) {
        font-size: 7em;
        line-height: 1.15;
        margin: 0;
      }
    }

    .animated-text {
      color: $main-clr;
      animation: glow 2s infinite alternate;

      @keyframes glow {
        0% {
          text-shadow: 0 0 1rem #fefefe;
        }
        50% {
          text-shadow: 0 0 1.85rem $main-dark;
        }
        100% {
          text-shadow: 0 0 1rem #fefefe;
        }
      }
    }

    .error-subheading {
      text-align: center;
      max-width: 480px;
      font-size: 1.5em;
      line-height: 1.15em;
      padding: 0 1rem;
      margin: 0 auto;

      @media (max-width: 770px) {
        font-size: 1.3em;
        line-height: 1.15;
        max-width: 100%;
      }
    }

    .error-container {
      position: relative;
      margin: 0 auto;
      width: 85%;
      height: 100vh;
      padding-bottom: 25vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      @media (max-width: 770px) {
        flex-direction: column;
        padding-bottom: 0vh;
      }

      .error-left-section,
      .error-right-section {
        position: relative;
      }

      .error-left-section {
        width: 40%;

        @media (max-width: 770px) {
          width: 100%;
          height: 40%;
          position: absolute;
          top: 0;

          .error-inner-content {
            position: relative;
            padding: 1rem 0;
          }
        }
      }

      .error-right-section {
        width: 50%;
        margin-top: 4%;

        @media (max-width: 770px) {
          width: 100%;
          height: 64%;
          position: absolute;
          bottom: 0;
        }

        .svgimg {
          position: absolute;
          bottom: 0;
          padding-top: 10vh;
          padding-left: 1vh;
          max-width: 100%;
          max-height: 100%;

          @media (max-width: 770px) {
            padding: 0;
          }

          .bench-legs {
            fill: #0c0e10;
          }

          .top-bench,
          .bottom-bench {
            stroke: #0c0e10;
            stroke-width: 1px;
            fill: #5b3e2b;
          }

          .bottom-bench path:nth-child(1) {
            fill: #432d20;
          }

          .lamp-details {
            fill: #202425;
          }

          .lamp-accent {
            fill: #2c3133;
          }

          .lamp-bottom {
            fill: linear-gradient(#202425, #0c0e10);
          }

          .lamp-light {
            fill: #efefef;
          }
        }

        @keyframes glow {
          0% {
            text-shadow: 0 0 1rem #fefefe;
          }
          50% {
            text-shadow: 0 0 1.85rem #ededed;
          }
          100% {
            text-shadow: 0 0 1rem #fefefe;
          }
        }
      }
    }
  }
}
